<div class="full-page">
  <div class="loyoutEdit_top">
  </div>
  <div class="process">
    <div class="content-style">
      <i style="font-size: 16px;margin-right: 20px;background-color: #00A854;color: #fff;border-radius: 10px;" class="anticon anticon-check-circle-o"></i>
      <span class="note-style" >
        您已成功提交复审信息，我们将在1-2个工作日内完成审核，请耐心等待。如果提交通过，备案信息提交管局后，管局审核周期为3-20个工作日。您可到备案管理中查看最新备案进度。
      </span>
    </div>
    <div style="width: 600px;margin-left: 200px;margin-top: 25px;">
      <span class="note-return-style">
        {{timer}}秒后自动跳转到我的备案页面
      </span>
    </div>

  </div>



</div>
