.page-title {
  min-height: 48px;
  margin: -20px -20px 20px -20px;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.employer-common-style{
  height: 450px;
  width: 100%;
  background:rgba(255,255,255,1);
  border:1px solid rgba(233,233,233,1);
}

.common-title {
  font-size:14px;
  font-family:MicrosoftYaHeiUI;
  color:rgba(51,51,51,1);
  line-height:19px;
  margin-left: 15px;
  margin-top: 20px;
}
:host ::ng-deep .ant-input {
  width: 20%;
}

.logout-div-style {
  margin-left: 15px;
  margin-bottom: 15px;
}

.bottom-sponsor-style {
  margin-top: 15px;
  clear: both;
}
.bottom-sponsor-style>button{
  float: right;
  margin-left: 10px;
}
.logout-success-style{
  text-align: center;
}
.logout-success-style>div{
  margin-top: 30px;
}
.logout-success-style>div>span{
  font-family:MicrosoftYaHei;
  color:rgba(145,145,145,1);
}
