registry=http://repo.inspur.com/artifactory/api/npm/boss-npm-virtual/
_auth = Ym9zczpBUDVIUUVxeWZ5NU1yc0JIYmdHOXF2a1V6U2o=
email = boss@inspur.com
always-auth = true
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/