<div>
  <div class="page-title">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="../../../"><span>备案管理</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>取消接入验证</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <!--单位信息-->
  <div  class="employer-common-style">
    <div class="common-title">
      <p>产品名称：浪潮云</p>
    </div>
    <hr style="width: 98%;" />
    <div class="logout-div-style">
      <span style="color:#919191;">ICP备案密码提交后将直接由管局审核验证，如果忘记密码，请通过各地管局网址找回密码。</span><span style="color:rgba(54,179,223,1);display: none;">如何找回备案密码？</span>
    </div>
    <div class="logout-div-style">
      <div>
        <span>联系方式1（手机）：</span>
        <span>{{cancelAccessReturnParams.phone}}</span>
      </div>
      <div class="code-input-style">
        <span>验证码：</span>
        <input [(ngModel)]="cancelAccessReturnParams.authCode" type="text" nz-input>
        <button style="margin-left: 2%;" nz-button (click)="sendPhoneVerification()">{{code_context}}</button>
      </div>
      <div class="password-input-style">
        <span>ICP备案密码：</span>
        <input [(ngModel)]="cancelAccessReturnParams.password" type="text" nz-input>
      </div>
  </div>
  </div>
  <div class="bottom-sponsor-style">
    <button  nz-button nzType="primary" (click)="cancelAccessSubmit()">确定</button>
    <button  nz-button routerLink="../../">返回</button>
  </div>
</div>


  <nz-modal [(nzVisible)]="cancelVisible" nzTitle="提示" (nzOnCancel)="submitCancel()" (nzOnOk)="submitOk()">
    <i class="anticon anticon-exclamation-circle-o icon-font-style"></i>
    <p>{{warningMessage}}</p>
  </nz-modal>
