<div class="full-page">

  <div class="header"><p class="title">短信验证提醒</p></div>
  <div class="mainBody">
    <div>
      <div>
        <i  class="anticon anticon-check-circle-o icon"></i>
        <p class="note-style">您已成功提交复审信息，我们将在<span style="color:#36B3DF;">1-2个工作日</span>内完成审核，请耐心等待。如果提交通过，备案信息提交管局后，管局审核周为3-20个工作日。</p>
      </div>
      <p class="note-bottom-style">提示：您已成功提交幕布照片审核，初审及照片审核通过后，浪潮云会在一个工作日内将您的备案信息提交至管局审核，届时需要短信验证的省份将收到短信验证，请在收到短信24小时内访问备案省管局网站进行短信验证。
        <span style="display: none;" class="operationDetail">查看详细操作流程</span></p>
    </div>

    <div class="sectionBody">
      <div class="verificationProvince">需要短信验证的省份</div>
      <div class="content">工信部要求天津、甘肃、西藏、宁夏、海南、新疆、青海、浙江、四川、福建、陕西、重庆、广西、云南、山东、河南、安徽、湖南、山西、黑龙江、内蒙古、湖北省市为手机号码短信核验试点省份。用户需完成短信验证后，备案申请才能成功提交管局审核。其他省份暂无短信核验要求。注意查收工信部发出的短信核验码，并根据短信提示登录备案所在省份管局网站完成核验。</div>

      <div class="verificationProvince">验证码发送原则</div>
       <div class="content">
         <p>1、仅发送验证码至备案信息中填写的联系方式1的手机号码</p>
         <p>2、若手机号码变更后，则发送验证码至新手机号码</p>
         <p>3、验证码为6位数字</p>
         <p>4、您收到的浪潮云发出的备案信息提交管局通知后，5分钟左右即可收到验证短信。您也恶意访问备案所在省市管局网站，手动从新发送验证短信</p>
       </div>

      <div class="verificationProvince">验证码有效时间</div>
      <div class="content">
        <p>若您在24小时内，访问省管局网站进行验证。手机号码短信验证通过后，您的备案信息将流转至管局审核。</p>
        <p>若24小时内没有进行验证或验证失败，备案信息将会自动退回。分为以下两种情况：</p>
        <p>情况一：若您的备案信息未进行修改，且备案资料符合当前要求，则在备案平台中单击提交备案后直接进入短信验证流程。</p>
        <p>情况二：若您的备案信息或备案资料不符合当前要求，需要进行修改，则您需要重新提交备案申请，经过浪潮云审核后再次进入短信验证流程。</p>
      </div>

      <div class="verificationProvince">短信验证说明</div>
      <table>

            <tr class="row1">
              <td class="column1">备案服务号</td>
              <td class="column2">验证逻辑</td>
              <td class="column3">实例ID</td>
            </tr>
        <tr class="row2">
          <td>首次备案</td>
          <td>验证主体负责人手机号和网站负责人手机号</td>
          <td>若主体负责人与网站负责人为同一人（判断标准为手机号码），只发送一个验证码。若主体负责人与网站负责人不为同一人（判断标准为手机号码），则每个手机号发送一个验证码，两人均需完成验证。</td>
        </tr>
        <tr  class="row3678">
          <td>新增网站备案</td>
          <td>验证网站负责人手机号码</td>
          <td>无</td>
        </tr>
        <tr class="row4">
          <td>新增接入备案</td>
          <td>验证网站负责人手机号码</td>
          <td>
            <p>·如果您更换了手机号码，需先到原备案接入服务商处变更号码，再进行接入备案。</p>
            <p>·网站为空客网站（即无接入服务商），无法到原接入服务商处变更手机号码。只能注销备案后，再重新提交新增网站备案。</p>
          </td>
        </tr>
        <tr  class="row5">
          <td>变更备案信息</td>
          <td>验证主体负责人手机号或网站负责人手机号</td>
          <td>
            <p>·变更主体信息，则验证主体负责人手机号码。</p>
            <p>·变更网站信息，则验证网站负责人手机号码。</p>
          </td>
        </tr>
        <tr  class="row3678">
          <td>注销主体</td>
          <td>不验证</td>
          <td>无</td>
        </tr>
        <tr  class="row3678">
          <td>注销网站</td>
          <td>不验证</td>
          <td>无</td>
        </tr>
        <tr class="row3678">
          <td>取消接入</td>
          <td>不验证</td>
          <td>无</td>
        </tr>
      </table>

    </div>
  </div>


</div>
