.full-page {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
  left: 0;
  top: 50px;
  overflow-y: auto;
  background: #f5f5f5;
  z-index: 1000;
  font-family:MicrosoftYaHei;
}
.header{
  width:100%;
  height:125px;
  background:rgba(69,75,82,1);
  position:relative
}
.title{
  height:24px;
  font-size:18px;
  color:rgba(255,255,255,1);
  line-height:24px;
  position:absolute;
  left:23%;
  top:15px;
}
.mainBody{
  /*margin:0 auto;*/
  /*background:white;*/
  /*width:1000px;*/
  /*height:1573px;*/
  /*position:absolute;*/
  /*left:15%;*/
  /*top:49px;*/

  width:1000px;
  /*min-height:1350px;*/
  background:rgba(255,255,255,1);
  position: absolute;
  left: 39%;
  top: 65px;
  margin-left: -350px;
}
.note-style{

  text-align: left;
  font-size:18px;
  color:rgba(69,75,82,1);
  line-height:30px;
  width: 68%;
  margin: 50px auto 0;
}
.note-bottom-style{
  text-align: left;
  font-size:14px;
  color:rgba(145,145,145,1);
  line-height:30px;
  width: 84%;
  margin: 20px auto 0;
}
.operationDetail{
  height:16px;
  font-size:12px;
  color:rgba(54,179,223,1);
  line-height:16px;
  margin-left: 20px;
}
.sectionBody{
  margin:41px 2% 0;
}
.verificationProvince{
  border-bottom:1px solid rgba(224,224,224,1);
  font-size:14px;
  font-family:MicrosoftYaHeiUI;
  color:rgba(51,51,51,1);
  line-height:19px;
  padding:0 0 20px 0;
  margin-top: 41px;
}
.content{
  margin-top: 20px;
  text-align: left;
  font-size:14px;
  color:rgba(40,47,56,1);
  line-height:30px;
}
table{
  width: 96%;
  border:1px solid rgba(216,216,216,1);
  margin-top: 21px;
  font-size:12px;
}
td{
  padding-left: 10px;
}
tr{
  border:1px solid rgba(216,216,216,1);
}
.column1{
  width:21%;
  border-right:1px solid rgba(216,216,216,1);
}
.column2{
   width:34%;
   border-right:1px solid rgba(216,216,216,1);
 }
.column3{
  width:45%;
}
.icon{
  font-size: 16px;
  margin-right: 20px;
  background-color: #00A854;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 14%;
  top:57px;
}
.row1{
  height:45px;
  background:rgba(240,240,240,1);
}
.row2{
  height:107px;
}
.row4{
  height:124px;
}
.row5{
  height:79px;
}
.row3678{
  height:39px;
}
