<div>
  <div class="page-title">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="../"><span>备案管理</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>下一步操作（修改主体信息）</nz-breadcrumb-item>
    </nz-breadcrumb>

    <common-header [status]="{index: 3, label: '初审驳回'}"></common-header>

  </div>

  <!--单位信息-->
  <div  class="employer-common-style">
    <div class="common-title">
      <p>主办单位信息</p>
    </div>
    <div>
      <div class="organizer-style" style="width: 400px;">
        <div>
          <span>主办单位性质：</span>
          <nz-select style="width: 230px;margin-left: 6%;" [(ngModel)]="sponsorDetailData.typeId">
            <nz-option *ngFor="let option of cardTypelist" [nzLabel]="option.name" [nzValue]="option.code" ></nz-option>
          </nz-select>
        </div>
        <div>
          <span>主办单位证件类型：</span>
          <nz-select style="width: 230px;" [(ngModel)]="sponsorDetailData.certificationId">
            <nz-option *ngFor="let option of certificationList" [nzLabel]="option.name" [nzValue]="option.code" ></nz-option>
          </nz-select>
        </div>
        <div>
          <span>主办单位证件号码：</span>
          <input type="text" (blur)="mainPlaceNumberVerification()" [(ngModel)]="sponsorDetailData.certificationNum" nz-input style="width: 58%;">
        </div>
        <div>
          <span style="display: inline-block;margin-top: 7px;">主办单位所属区域：</span>
          <div>
            <div style="margin-left: 31%;margin-top: -23px;float: left;">
              <nz-select style="width: 90px;" [(ngModel)]="sponsorDetailData.provincId" (ngModelChange)="selectCity($event)" >
                <nz-option
                  *ngFor="let option of citysData.provinceList"
                  [nzLabel]="option.name"
                  [nzValue]="option.code">
                </nz-option>
              </nz-select>
              <nz-select style="width: 90px;" [(ngModel)]="sponsorDetailData.cityId" (ngModelChange)="selectCountry($event)">
                <nz-option
                  *ngFor="let option of chengshiData.city"
                  [nzLabel]="option.name"
                  [nzValue]="option.code">
                </nz-option>
              </nz-select>
              <nz-select [(ngModel)]="sponsorDetailData.countryId" style="width: 90px;">
                <nz-option
                  *ngFor="let option of chengshiData.country"
                  [nzLabel]="option.name"
                  [nzValue]="option.code">
                </nz-option>
              </nz-select>
              <br>
            </div>
          </div>
        </div>

      </div>
      <div class="organizer-style organizer-right">
        <div>
          <span>主办单位或主办人名称：</span>
          <input (blur)="organiserVerification()" [(ngModel)]="sponsorDetailData.sponsorName" type="text" nz-input style="width: 58%;">
        </div>
        <div>
          <span>主办单位证件住所：</span>
          <input (blur)="cardAddressVerification()" [(ngModel)]="sponsorDetailData.sponsorAddress" type="text" nz-input style="width: 58%;margin-left: 6%;">
        </div>
        <div>
          <span>主办单位通讯地址：</span>
          <input (blur)="sponsorMailAddressVerification()" [(ngModel)]="sponsorDetailData.sponsorMailAddress" type="text" nz-input style="width: 58%;margin-left: 6%;">
        </div>
        <div>
          <span>投资人或主办单位：</span>
          <input (blur)="sponsorGovernVerification()"  [(ngModel)]="sponsorDetailData.sponsorGovern" type="text" nz-input style="width: 58%;margin-left: 6%;">
        </div>
      </div>
    </div>
  </div>

  <!--负责人信息-->
  <div  class="employer-common-style">
    <div class="common-title">
      <p>负责人信息</p>
    </div>
    <div>
      <div class="organizer-style" style="width: 400px;">
        <div>
          <span>负责人姓名：</span>
          <input (blur)="headerNameVerification()" [(ngModel)]="sponsorDetailData.headerName" type="text" nz-input style="width: 58%;margin-left: 11%;">
        </div>
        <div>
          <span>负责人证件类型：</span>
          <nz-select style="width: 230px;margin-left: 5%;" [(ngModel)]="sponsorDetailData.headerType">
            <nz-option *ngFor="let option of principalCertificate" [nzValue]="option.code" [nzLabel]="option.name"></nz-option>
          </nz-select>
        </div>
        <div>
          <span>负责人证件号码：</span>
          <input (blur)="headerNumVerification()" [(ngModel)]="sponsorDetailData.headerNum" type="text" nz-input style="width: 58%;margin-left: 5%;">
        </div>
        <div>
          <span>联系方式1（手机）：</span>
          <input (blur)="telephone1Verification()" [(ngModel)]="sponsorDetailData.telephone1" type="text" nz-input style="width: 58%;">
        </div>

      </div>
      <div class="organizer-style organizer-right">
        <div>
          <span>验证码：</span>
          <input [(ngModel)]="verificationCode" (blur)="verificationCodeFunction()" type="text" nz-input style="width: 22%;margin-left: 17%;">
          <button nz-button style="margin-left: 4%;" (click)="sendPhoneVerification()">{{code_context}}</button>
        </div>
        <div>
          <span>联系方式2（座机）：</span>
          <input [(ngModel)]="sponsorDetailData.telephone2" type="text" nz-input style="width: 58%;">
        </div>
        <div>
          <span>应急联系方式（手机号）：</span>
          <input (blur)="emergencyPhoneVerification()" [(ngModel)]="sponsorDetailData.emergency_phone" type="text" nz-input style="width: 58%;margin-left: 8%;">
        </div>
        <div>
          <span>电子邮件地址：</span>
          <input (blur)="emailVerification()" [(ngModel)]="sponsorDetailData.email" type="text" nz-input style="width: 58%;margin-left: 8%;">
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-sponsor-style">
    <button  nz-button nzType="primary" (click)="submitSponsorData()">下一步</button>
    <button  nz-button >返回</button>
  </div>
</div>
