<div>
  <div class="page-title">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="../../../../"><span>备案管理</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>主体信息确认</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <!--单位信息-->
  <div  class="employer-common-style">
    <div class="common-title">
      <p>备案密码验证</p>
    </div>
    <hr/>
    <div class="logout-div-style">
      <span>ICP备案密码提交后将直接由管局审核验证，如果忘记密码，请通过各地管局网址找回密码。</span><span style="color:rgba(54,179,223,1);display: none;">如何找回备案密码？</span>
    </div>
    <div class="logout-div-style">
      <span class="left-note-style">
        主体备案号：
      </span>
      <input (blur)="sponsorNumber()" maxlength="32" type="text" nz-input placeholder="请输入内容" [(ngModel)]="beianPasswordParams.subjectRecordNumber">
    </div>

    <div class="logout-div-style">
      <span class="left-note-style">
        ICP备案密码：
      </span>
      <input (blur)="icpPasswordFunction()" maxlength="32" type="text" nz-input placeholder="请输入内容" [(ngModel)]="beianPasswordParams.subjectIcpPassword">
    </div>
  </div>
  <div class="bottom-sponsor-style">
    <button  nz-button nzType="primary" (click)="passwordVerification()">下一步</button>
    <button  nz-button (click)="previousStepFunction()">返回</button>
  </div>
</div>
<nz-modal [(nzVisible)]="passWordVisible" nzTitle="提示" (nzOnCancel)="passWordVisible = false" (nzOnOk)="passWordVisible = false">
  <i style="font-size: 16px;margin-right: 20px;background-color: #FFBF00;color: #fff;border-radius: 10px;" class="anticon anticon-exclamation-circle-o"></i>
  <p>{{warningMessage}}</p>
</nz-modal>
