/* You can add global styles to this file, and also import other style files */
.cdk-overlay-pane {
    z-index: 1001;
}

/*status 样式*/
.label-status {
    position: relative;
    font-weight: normal;
    padding: 0.6em 0.6em 0.3em 1.1em;
    margin-bottom: 0;
    width: 100% !important;
  }
  .label-status:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5em;
    color: #abbac3;
    font-size: 0.7em;
    font-weight: 900;
    line-height: 1.3;
  }
  .label-status.label-status-success:before {
    color: #00b150;
  }

  .label-status.label-status-info:before {
    color: #0462b7;
  }

  .label-status.label-status-warning:before {
    color: #f89406;
  }

  .label-status.label-status-warning-other:before {
    color: #FFD700;
  }

  .label-status.label-status-danger:before {
    color: #c10000;
  }

  .label-status.label-status-rejected:before {
    color: #34495e;
  }

  .label-status.label-status-release:before {
    color: #abbac3;
  }

  .label-status.label-status-rejected:before {
    color: #34495e;
  }

  .label-status.label-status-release:before {
    color: #abbac3;
  }
